body {
    background-image: url(https://i.pinimg.com/originals/03/15/e9/0315e997ab28f4f837fd68a23c92b9a1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.tag {
    color: #fff;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    flex-direction: column;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
}
